<% @lists.each do |list| %>
  <h3><%= link_to list.name,list.website%></h3>
  <p><%= list.description %></p>
  <% list.posts.last(3).each do |post| %>
    <%= post.subject %>
    <%= post.body.html_safe %>
    <br>
  <% end %>
<% end %>
