  <h3><%= link_to @list.name,@list.website%></h3>
  <p><%= @list.description %></p>
  <% @list.posts.each do |post| %>
    <%= link_to post.subject, list_post_path(@list.id, post.id) %>
    <br>
  <% end %>
