<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><h2><%= @post.subject.first(60) %></h2></h1>
    <%= link_to @list.name, list_path(@list) %>
  </div>
  <div class="panel-body">
    <h3 class="panel-info"> </h3>
    <%= @post.body.html_safe %>
  </div>
</div>
