<footer class="footer">
  <div class="container">
        <p>&copy <%= Date.current.year %> <a href="//riley.gelwicks.me">Riley Gelwicks</a> | <a href="https://www.github.com/rileygelwicks/listboxer">Fork Me</a></p>
  </div>
</footer>
