<footer class="footer">
  <div class="container">
        <p>&copy <%= Date.current.year %> Riley Gelwicks</p>
        <p>
          <%= link_to icon('github-square', class:'fa-2x'), "https://www.github.com/rileygelwicks/listboxer", target: "_blank" %>  <%= link_to icon('linkedin-square', class:'fa-2x'), "https://www.linkedin.com/in/rileygelwicks", target: '_blank', alt:"Riley Gelwicks Linkedin" %>
        </p>
  </div>
</footer>
