<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= link_to icon('github-alt', class:'fa-2x'), "https://www.github.com/rileygelwicks/listboxer" %> |
    </div>
  </div>
</div>
